@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: .9rem;
}
h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #d1c3a0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainarea{
    width: max(615px,70%);
    /* background: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.top{
    display: flex;
    justify-content: space-around;
}
.top div{
    margin: .5rem;
}
.middle{
    /* background: lightcoral; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.end{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftpart{
    /* background: lightcoral; */
    text-align: left;
    width: max(250px,30%);
    margin: .5rem;
    padding: .5rem;
}
.rightpart{
    width: 30;
    margin: .5rem;
    text-align: center;
    padding: .5rem;
}